[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AnglerCreelSurveySimulation"]
	path = AnglerCreelSurveySimulation
	url = https://github.com/stevenranney/anglercreelsurveysimulation
